ADMIN_PASSWORD=your_admin_password_here
NEXT_PUBLIC_PHONE=020 3633 0390
NEXT_PUBLIC_EMAIL=cleanwithbest@gmail.com
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GETADDRESS_API_KEY=your_key_from_getaddress_io
